

.sidenav-container {
  box-sizing: border-box;
  min-height: 100vh;
  width: 100%;

  .mat-sidenav-content, md-sidenav {
    display: flex;
    overflow: visible;
  }

  md-sidenav {
    width: 240px;
    box-shadow: 3px 0 6px rgba(0, 0, 0, .24);
  }

  .sidenav-content {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
  }
}

.example-scrolling-content {
  overflow: auto;
}

.example-fab {
  position: absolute !important;
  right: 20px;
  bottom: 10px;
}

